body {
  background-color: #498baf;
  background-image: url(/pnj/1-377.jpg\,qitok=vMowVbmR.pagespeed.ce.go3bQ-ViLR.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.search {
  height: 90%;
  background-color: rgba(86, 119, 131, 0.7);
  border: cornsilk 2px solid;
  border-radius: 10px;
  text-align: center;
  margin-top: 5%;
}

.search h4 {
  font-size: 32px;
  margin: 20px;
  color: #052c48;
}

.search h1 {
  margin-top: 8%;
  color: #4c00ff;
  font-size: 92px;
}

.search h2 {
  margin-top: 5%;
  color: rgba(0, 0, 255, 0.645);
  font-size: 34px;
}

.search input {
  margin: 1% 10px 15px;
  width: 30%;
  height: 50px;
  border: cornsilk 2px solid;
  border-radius: 10px;
  background-color: rgba(0, 166, 255, 0.645);
  outline: none;
  color: #0c1879;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.search button {
  margin-bottom: 5%;
  margin-bottom: 5%;
  width: 150px;
  height: 48px;
  border: cornsilk 2px solid;
  border-radius: 10px;
  background-color: rgba(0, 255, 229, 0.645);
  color: blueviolet;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
}

.weather {
  display: none;
  position: relative;
  height: 90%;
  background-color: rgba(86, 119, 131, 0.7);
  border: cornsilk 2px solid;
  border-radius: 10px;
  text-align: center;
}

.weather #time {
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 0;
  color: #163644;
}

.weather #city {
  font-size: 85px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #090a31e3;
}

.weather #generalPnj {
  position: relative;
  top: -35px;
  margin: 0;
  padding: 0;
  width: 300px;
}

.weather #WeatherStan {
  position: relative;
  margin: 0;
  top: -100px;
  text-align: center;
  font-size: 40px;
  color: #0e1a3f;
  text-transform: uppercase;
  font-style: initial;
}

.weather #temp {
  margin: 40px 0 10px;
  text-align: center;
  font-size: 115px;
  color: #0e2b3f;
  text-transform: uppercase;
  font-style: initial;
}

.weather #temFelt {
  margin: 20px;
  text-align: center;
  font-size: 25px;
  color: #02131f;
  text-transform: uppercase;
  font-style: initial;
}

.weather #humidity, .weather #pressure, .weather #sea_level, .weather #visibility, .weather #temp_max, .weather #temp_min {
  position: relative;
  top: -45px;
  margin: 20px;
  text-align: center;
  font-size: 25px;
  color: #02131f;
  text-transform: uppercase;
  font-style: initial;
}

.weather .positionTop {
  position: relative;
  top: -60px;
}

.weather .positionTop #titleForTible {
  margin: 0;
  font-size: 24px;
}

.weather .positionTop hr {
  color: cornsilk;
}

.weather .positionTop table, .weather .positionTop tr, .weather .positionTop th, .weather .positionTop td {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgba(255, 248, 220, 0.576);
}

.weather .positionTop table th, .weather .positionTop tr th, .weather .positionTop th th, .weather .positionTop td th {
  color: #020250;
}

.weather .positionTop table tr:hover > td, .weather .positionTop tr tr:hover > td, .weather .positionTop th tr:hover > td, .weather .positionTop td tr:hover > td {
  background-color: rgba(255, 248, 220, 0.309);
}
/*# sourceMappingURL=style.css.map */